*{
  margin: 10px;
  padding: 10px 5px;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 24px;
  color: #0083c6;
}

h1 {
  font-size: 48px;
  color: #0083c6;
}

h2 { 
  font-size: 40px;
}

a {
  font-size: 16px;
}
